body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.ml-5 {
  margin-left: 2em;
}
#terminal {
  height: 90vh;
}
.options {
  padding: 0.75em;
}
.info {
  float: right;
}
#connect {
  margin-right: 2em;
}
label.checkbox {
  margin-right: 1em;
}

.elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr min-content;
  width: 100vw;
}
.elements div:nth-child(1) {
  grid-area: 1 / 1 / 3 / 3;
}
.elements div:nth-child(2) {
  grid-area: 3 / 1 / 4 / 3;
}
.elements div:nth-child(3) {
  grid-area: 1 / 3 / 4 / 5;
}
/* .elements div:nth-child(4) {
  grid-area: 2 / 3 / 4 / 5;
} */

.info-cont {
  display: flex;
  justify-content: space-between;
  margin: 1em 2em 1em 2em;
}

select:not([multiple]) {
  border-radius: 15px;
}
button {
  border-radius: 8px;
  border-width: 1px;
}
.tab-container {
  display: none;
}
#tab-btn-1:checked ~ #flight-chart-cont,
#tab-btn-2:checked ~ #pressure-chart-cont,
#tab-btn-3:checked ~ #acceleration-chart,
#tab-btn-4:checked ~ #zAcceleration-chart-cont,
#tab-btn-5:checked ~ #speed-chart-cont {
  display: block !important;
}
